@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define your light theme colors */
.light-theme {
    --bg-color: #ffffff;
    --text-color: #000000;
  }
  
  /* Define your dark theme colors */
  .dark-theme {
    --bg-color: #000000;
    --text-color: #ffffff;
  }